<!-- página detalle de cada contacto -->
 
<ion-view view-title="{{persona.name}}" name="contactoDetalle-view">
  <ion-content class="padding">
    <img ng-src="{{persona.avatar}}" style="width: 64px; height: 64px">
    <p>
      <h4 class="icon ion-ios-telephone-outline">    {{persona.phone}}</h4>
        <h4 class="icon ion-email">    {{persona.email}}</h4>
    </p>
    
    <hr>

    

<form id="enquiry" action="">
	<h5>Mensaje</h5>
  <textarea maxlength="140" name="message" id="message" placeholder="Escribe aquí tu comentario"></textarea>
<br>

  <input class="button button-block button-assertive" type="submit" value="Enviar">

</form>


  </ion-content>
</ion-view>